.card {
  /* position: relative;
  margin: auto;
  overflow: hidden;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background: #fff8dc; */
  /* background: linear-gradient(to bottom, #fff8dc 0%, #add8e6 60%, #ffb6c1 100%); */
}

.card:before,
.card:after {
  z-index: -1;
  position: absolute;
  content: '';
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 90%;
  max-width: 300px;
  background: transparent;
  box-shadow: 0 15px 10px #111;
  transform: rotate(-3deg);
}

.card:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/****/
.cardContainer {
  overflow: hidden;
  /* width: 400px;
  height: 200px; */
}

.eight {
  position: relative;
  /* float: left;
  display: block;
  font-family: mr-dafoe, cursive;
  font-size: 160px;
  border-radius: 100%; */
  /* width: 140px;
  height: 140px; */
  /* margin: 30px 0 0 10px; */
  /* overflow: hidden;
  text-align: center;
  line-height: 160px; */
  color: #add8e6;
  /* // color: #FFF8DC; */
  text-shadow: 1px 1px #ffb6c1, -1px -1px #fff8dc;
  box-shadow: 1px 1px #fff8dc, -1px -1px #ffb6c1;
  outline-color: #add8e6;
  background: rgba(0, 0, 0, 0.1);
  cursor: default;
  mix-blend-mode: darken;
}

.title {
  /* cursor: default; */
  /* // font-family: mr-dafoe, cursive; */
  /* font-size: 80px;
  line-height: 150px;
  margin-left: 150px;
  vertical-align: middle;
  /* color: #add8e6; */
  /* color: var(--secondary) !  */
  text-shadow: 1px 1px #fff8dc, -1px -1px #ffb6c1;
  /* height: 100px; */
}

/* .subtitle {
  cursor: default;
  margin-top: 5px;
  margin-right: 15px;
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
} */

.facebook {
  overflow: hidden;
  text-align: right;
  line-height: 60px;
  font-size: 50px;
  padding-right: 5px;
  color: #add8e6;
  text-shadow: 1px 1px #ffb6c1, -1px -1px #fff8dc;
  box-shadow: 1px 1px #fff8dc, -1px -1px #ffb6c1;
  background: rgba(0, 0, 0, 0.1);
}

.tumblr {
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  color: #add8e6;
  text-shadow: 1px 1px #ffb6c1, -1px -1px #fff8dc;
  box-shadow: 1px 1px #fff8dc, -1px -1px #ffb6c1;
  background: rgba(0, 0, 0, 0.1);
}

.codepen {
  color: #add8e6;
  text-shadow: 1px 1px #ffb6c1, -1px -1px #fff8dc;
  box-shadow: 1px 1px #fff8dc, -1px -1px #ffb6c1;
  background: rgba(0, 0, 0, 0.1);
}
/* .svgs {
  text-shadow: 1px 1px #add8e6, -1px -1px #ffb6c1;
} */
