@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */
html {
  height: 100%;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.adad {
  -moz-font-feature-settings: 'ss02';
  -webkit-font-feature-settings: 'ss02';
  font-feature-settings: 'ss02';
}

.adad {
  -moz-font-feature-settings: 'ss03';
  -webkit-font-feature-settings: 'ss03';
  font-feature-settings: 'ss03';
}

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #77a1d3, #79cbca, #e684ae);

    --background: 226 33.15% 5.2%;
    --foreground: 226 5.1% 98.25%;

    --muted: 226 25.5% 19.5%;
    --muted-foreground: 226 5.1% 56.5%;

    --popover: 226 54.8% 8.450000000000001%;
    --popover-foreground: 226 5.1% 98.25%;

    --card: 226 54.8% 8.450000000000001%;
    --card-foreground: 226 5.1% 98.25%;

    --border: 226 25.5% 19.5%;
    --input: 226 25.5% 19.5%;

    --primary: 226 51% 65%;
    --primary-foreground: 226 5.1% 6.5%;

    --secondary: 226 25.5% 19.5%;
    --secondary-foreground: 226 5.1% 98.25%;

    --accent: 226 25.5% 19.5%;
    --accent-foreground: 226 5.1% 98.25%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 226 5.1% 98.25%;

    --ring: 226 51% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --gradient: linear-gradient(to top left, #30e8bf, #ff8235);

    --background: 177 52% 4.4%;
    --foreground: 177 8% 97.75%;

    --muted: 177 40% 16.5%;
    --muted-foreground: 177 8% 55.5%;

    --popover: 177 49% 7.15%;
    --popover-foreground: 177 8% 97.75%;

    --card: 177 49% 7.15%;
    --card-foreground: 177 8% 97.75%;

    --border: 177 40% 16.5%;
    --input: 177 40% 16.5%;

    --primary: 177 80% 55%;
    --primary-foreground: 177 8% 5.5%;

    --secondary: 177 40% 16.5%;
    --secondary-foreground: 177 8% 97.75%;

    --accent: 177 40% 16.5%;
    --accent-foreground: 177 8% 97.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 177 8% 97.75%;

    --ring: 177 80% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* fromColor="#FFB6C1" viaColor="#ADD8E6" toColor="#FFF8DC"; */

@layer components {
  .gradient-base {
    @apply bg-gradient-to-t from-[#FFB6C1] via-[#ADD8E6] to-[#FFF8DC];
  }
  .title-color {
    @apply font-bold bg-gradient-to-r via-[#dbd821] from-[#c75c42] to-[#e96f18] bg-clip-text text-transparent;
  }
  .gradient-base-r {
    @apply bg-gradient-to-t from-[#FFF8DC] via-[#ADD8E6] to-[#FFB6C1];
  }
}
.clip {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-background-clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.svgLogo {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.container .text-reveal {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 1.5s;
  transform: translateY(-3.5rem);
}
.local {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  /* opacity: 0; */
  /* transform: translateX(-100%); */
}

.headGradient /* resulting css */ {
  /* resulting css */

  filter: contrast(150%) brightness(150%);
  background: linear-gradient(
    0deg,
    rgba(192, 192, 193, 0.63),
    rgba(0, 0, 0, 0.23)
  );
  background-image: url('/noise-svg/noise2.svg');
}

.videoContainer::after {
  filter: contrast(150%) brightness(150%);
  background: linear-gradient(
    0deg,
    rgba(192, 192, 193, 0.63),
    rgba(0, 0, 0, 0.23)
  );
  background-image: url('/noise-svg/noise2.svg');
}
.dark .videoContainer::after {
  filter: contrast(180%) brightness(60%);
  background: linear-gradient(0deg, rgba(7, 7, 44, 0.63), rgba(0, 0, 0, 0.23));
  background-image: url('/noise-svg/noise1.svg');
}

.grainy {
  background-color: hsla(0, 0%, 100%, 0.68);
  background-image: radial-gradient(
      at 17% 27%,
      hsla(145, 0%, 100%, 0.8) 0px,
      transparent 50%
    ),
    radial-gradient(at 47% 51%, hsla(28, 100%, 74%, 0.54) 0px, transparent 50%),
    radial-gradient(at 65% 44%, hsla(189, 24%, 41%, 1) 0px, transparent 50%),
    radial-gradient(at 88% 81%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 0.71) 0px, transparent 50%),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.59' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

/* Embla */
.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 100vh;
  --slide-spacing: 1px;
  --slide-size: 100vh;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-x pinch-zoom;
  margin-top: calc(var(--slide-spacing) * -1);
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: column;
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-height: 0;
  padding-top: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);

  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

/* Custom box shadow  */
.custom-box-shadow {
  box-shadow: 1px 1px #fff8dc, -1px -1px #ffb6c1;
}
.custom-text-shadow {
  text-shadow: 1px 1px #ffb6c1, -1px -1px #fff8dc;
}
